build/
*.d
examples/embed
examples/embed-debug
examples/engine
examples/engine-debug
examples/least
tools/inward
tools/fuzz
tools/fuzz-debug
kest
kest-debug
kest-before
libkest.a
*.o
bench/*-cpp
kest-colony-day.txt
.jitted_scripts/
